html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: var(--bg-color);
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 1;
  color: var(--font-color);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.container {
  width: 100%;
  margin: 10rem auto;
}

/*******************/
/* content section */
/*******************/

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.content__header {
  position: sticky;
  top: 0;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  color: var(--bg-color);
  background-color: var(--primary-color);
}
