.header {
  width: 100%;
  padding: 2rem 0;
  border: 1px solid var(--primary-color);
  font-size: 3.6rem;
  text-align: center;
}

.total {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  padding: 2rem 0;
  margin: 3rem auto;
  border: .3rem solid var(--primary-color);
  border-radius: 1rem;
  text-align: center;
}

.total__title {
  font-size: 2.2rem;
}

.total__amount {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
}

.total__detail {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.total__detail__item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.total__detail__item div {
  width: 2rem;
  height: 2rem;
  border: .1rem solid currentColor;
  border-radius: 50%;
  line-height: 2rem;
  text-align: center;
}

.total__detail__item p {
  font-size: 2rem;
}

.total__detail__item__plus {
  color: var(--blue);
}

.total__detail__item__minus {
  color: var(--red);
}

.detail {
  width: 100%;
  padding: 3rem 0;
  border-top: .1rem solid var(--primary-color);
}

.detail__date {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.detail__date button {
  cursor: pointer;
}

.detail__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  border-bottom: .1rem solid var(--primary-color);
}

.detail__header__title {
  font-weight: 600;
}

.detail__header__sort {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.detail__header__sort__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail__header__sort__item label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .1em 1rem;
  border-radius: .5rem;
  color: var(--bg-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.detail__list {
  width: 100%;
  height: calc(100vh - 50.6rem);
  margin-top: 3rem;
  padding: 0 3rem 3rem;
  overflow: auto;
}

.detail__list::-webkit-scrollbar {
  display: none;
}

.detail__list__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  color: var(--bg-color);
  background-color: var(--primary-color);
}

.detail__list__item:not(:last-child) {
  margin-bottom: 2rem;
}

.detail__list__item::after {
  position: absolute;
  top: .2rem;
  right: .6rem;
  content: 'x';
  cursor: pointer;
}

.detail__list__item__category {
  width: 15%;
}

.detail__list__item__content {
  width: 70%;
  font-size: 1.8rem;
  font-weight: 600;
}

.detail__list__item__price {
  width: 15%;
  font-weight: 600;
  text-align: end;
}

.income {
  color: var(--blue);
}

.spending {
  color: var(--red);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 128rem;
  height: 5rem;
  background-color: var(--primary-color);
  transform: translateX(-50%);
}

.footer__btn {
  width: 4rem;
  height: 4rem;
  border: .1rem solid var(--bg-color);
  border-radius: 50%;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  color: var(--bg-color);
  cursor: pointer;
}

.footer__btn:hover {
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.footer__btn:active {
  background-color: #333;
}